<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to {{ topic }}</h1>
    <h2>{{ message }}</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque beatae amet veniam porro dolores provident ab magni quibusdam sint corrupti.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nostrum asperiores voluptate animi deserunt quaerat. Ab sit velit cupiditate delectus numquam dolore accusantium quae culpa unde, iste hic cum quo exercitationem fuga quos voluptatum? Dolore ipsum in, dicta unde, error neque illo fugit sit esse, natus exercitationem laudantium iure minima!
    </p>
</body>
</html>